/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@mixin dropshadow(){
	-webkit-box-shadow: -4px 15px 66px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: -4px 15px 66px -6px rgba(0,0,0,0.75);
	box-shadow: -4px 15px 66px -6px rgba(0,0,0,0.75);
	box-shadow:shadow;
}
.boxmyself{
	@include dropshadow();
    text-align: center;
    margin-top: 60px;
    width:300px;
    height: auto;
}